@layer components {
  .expression-picture-box {
    @apply flex rounded-lg gap-2 sm:gap-4 flex-col sm:flex-row relative z-10;
  }

  .expression-audio-box {
    @apply flex-1 bg-base-200 p-4 rounded-lg flex flex-col items-center justify-center min-h-38 sm:min-h-56;
  }

  .picture-field-background {
    @apply [&_*:not(img)]:contents;
    @apply [&_:not(:first-child)]:hidden;
    @apply absolute size-full [&_img]:size-full [&_img]:object-cover [&_img]:scale-110 [&_img]:filter [&_img]:brightness-50 [&_img]:blur-lg;
  }

  .picture-field {
    display: flex;
    justify-content: center;
    @apply [&_*:not(img)]:contents;
    @apply [&_:not(:first-child)]:hidden;
    @apply relative h-44 sm:h-56 cursor-pointer [&_img]:h-full [&_img]:object-contain [&_img]:hover:filter-none;
    &[data-nsfw="true"],
    &[data-tags~="nsfw"],
    &[data-tags~="NSFW"],
    &[data-tags~="Nsfw"] {
      @apply [&_img]:filter [&_img]:blur-lg [&_img]:brightness-50;
    }
    &[data-transition="true"] {
      @apply [&_img]:transition-[filter];
    }
    img[data-nsfw="false"] {
      filter: none;
    }
  }

  [data-blur-nsfw="false"] .picture-field {
    @apply [&_img]:filter-none;
  }

  .picture-field-container {
    @apply sm:max-w-1/2 bg-base-200 sm:items-center rounded-lg relative overflow-hidden justify-center;
    display: none;
    &:not([data-has-picture=""]) {
      display: flex;
      flex-direction: column;
    }
  }

  [data-side="front"][data-picture-on-front="false"] .picture-field-container {
    display: none;
  }

  [data-side="front"] .picture-field,
  [data-side="front"] .picture-field-background {
    @apply opacity-0;
  }

  .picture-field:hover {
    @apply [&_img]:filter-none;
  }

  @media (max-width: 40rem) {
    .expression-picture-box:has(.picture-field img[data-orientation="portrait"]:first-child),
    .expression-picture-box:has(.picture-field img[data-layout="row"]:first-child) {
      flex-direction: row;
    }

    .picture-field:has(img[data-orientation="portrait"]:first-child),
    .picture-field:has(img[data-layout="row"]:first-child) {
      height: calc(var(--spacing) * 38);
    }
  }

  .sentence-field {
    b {
      color: var(--color-pitch, var(--color-base-content-primary));
    }
    ruby rt {
      visibility: visible;
    }
  }

  .pitch-field {
    display: none;
    &[data-has-pitch="true"] {
      display: flex;
    }
  }

  .pitch-segment {
    padding-inline-end: 0.25rem;
    position: relative;
  }
  .pitch-segment::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 8px;
    background-color: var(--color-pitch);
  }

  .hint-field {
    display: none;
    &[data-has-hint="true"] {
      display: flex;
    }
  }
}
